 <form ng-hide="hideform" ng-controller="newUserCtrl">
      <h3>Create New User:</h3>
      <div class="form-group">
        <label>First Name:</label>
        <input class="form-control" type="text" ng-model="newfName"  placeholder="First Name">
      <br>
        <label>Last Name:</label>
        <input class="form-control" type="text" ng-model="newlName"  placeholder="Last Name">
      <br>
        <label>Title:</label>
        <input class="form-control" type="text" ng-model="newTitle"  placeholder="Title">
      <br>
        <label>Sex:</label>
        <input class="form-control" type="text" ng-model="newSex"  placeholder="Sex">
      <br>
        <label>Age:</label>
        <input class="form-control" type="text" ng-model="newAge" placeholder="Age">
      <br>
        <label>Password:</label>
        <input class="form-control" type="password" ng-model="newpassw1" placeholder="Password">
      <br>
        <label>Repeat:</label>
        <input class="form-control" type="password" ng-model="newpassw2" placeholder="Repeat Password">
      <br>
      </div>
      <a class="btn btn-warning" href="#/" ng-disabled="error || incomplete" ng-click="saveUser()">&#9998;Save Changes</a>
    </form>
  </div>